body {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.973);
}
header {

    height: 100%;
    width: 100%;
}
.container {

    background-color: rgba(100, 98, 98, 0.533);
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
}

img {
    width: 350px;
    height: 350px;
}
section {

    border: 1px solid;
    display: inline;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagem {
    margin: 15px;
    padding: 25px;
    width: 200px;
    height: 200x;
}
.biografia {
    margin: 3px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border: 2px solid;
}
.rodape {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.direitos {
    margin-left: 15px;
}
.nathan {
    display: flex;
    justify-content:flex-end;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.github img {
    margin: 3px;
    height: 24px;
    width: 24px;
}
